@media only screen and (max-width: 980px){
    .top-nav-bar{
        height: 118px;
        border-bottom: 0;
    }
    .search-box{
        width: 100%;
    }
    .menu-bar{
        width: 100%;
    }
    .menu-bar ul{
     margin: 10px 0;
     width: 100%;
     margin-right: 17px;

    }
    .menu-bar ul li{
        height: 57px;
        width: 100%;
    }
}

@media only screen and (max-width: 980px){
    .side-menu{
        width: 35%;
        z-index: 20;
        top: 133px;
        position: fixed;
        font-size: 12px;
        background: #f1f3f4;
        display: none;
    }
    .side-menu ul li ul{
        top: 133px;
 
    }
    .side-menu ul li:hover ul{
        margin-left: 26%;
    }
    #menu-btn{
        display: block;
    }
}

@media only screen and (max-width: 980px){
    .slider{
        width: 100%;
        margin-left: 0;
    }
}


@media only screen and (max-width: 1080px){
    .top-nav-bar{
        height: 118px;
        border-bottom: 0;
    }
    .search-box{
        width: 100%;
    }
    .menu-bar{
        width: 100%;
    }
    .menu-bar ul{
     margin: 10px 0;
     width: 100%;
     margin-right: 17px;

    }
    .menu-bar ul li{
        height: 57px;
        width: 100%;
    }
}